<mat-card>
  <mat-card-content>
    <form #registerForm="ngForm" id="registerForm">
      <h2>Reset password</h2>

      <div ngModelGroup="passwords" #passwords="ngModelGroup" appCheckPassword>
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="'password'" name="password" [(ngModel)]="userResetPassword.password" #password="ngModel"
                 required minlength="8">
          <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
            <div *ngIf="password.errors.required">Field is required</div>
            <div *ngIf="password.errors.minlength">Password must be at least 8 characters long.</div>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Repeat your password</mat-label>
          <input matInput [type]="'password'" name="rePassword" [(ngModel)]="userResetPassword.rePassword"
                 #rePassword="ngModel"
                 required minlength="8">
          <mat-error *ngIf="rePassword.invalid && (rePassword.dirty || rePassword.touched)">
            <div *ngIf="rePassword.errors.required">Field is required</div>
            <div *ngIf="rePassword.errors.minlength">Password must be at least 8 characters long.</div>
          </mat-error>
        </mat-form-field>
      </div>
      <mat-error class="password-same-error" *ngIf="password.valid && rePassword.valid && (rePassword.dirty || rePassword.touched)">
        <div *ngIf="passwords.errors?.passwordCheck">Passwords do not match.</div>
      </mat-error>

      <button mat-raised-button color="primary" form="registerForm" [disabled]="!registerForm.valid"
              (click)="onSubmit()">
        Reset password
      </button>
    </form>
  </mat-card-content>
</mat-card>

