mat-card {
  max-width: 400px;
  margin: 8em auto;
  text-align: center;
}

mat-form-field{
  display: block;
  margin-bottom: 1em;
}

.password-same-error{
  margin: -2em 0 2em 0;
  font-size: 75%;
}





