<mat-card>
  <mat-card-content>
    <form #registerForm="ngForm" id="registerForm">
      <h2>{{'reset.password.page.header' | translate}}</h2>

      <div ngModelGroup="passwords" #passwords="ngModelGroup" appCheckPassword>
        <mat-form-field appearance="fill">
          <mat-label>{{'input.label.password' | translate}}</mat-label>
          <input matInput [type]="'password'" name="password" [(ngModel)]="userResetPassword.password" #password="ngModel"
                 required minlength="8">
          <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
            <div *ngIf="password.errors.required">{{'form.error.required' | translate}}</div>
            <div *ngIf="password.errors.minlength">{{'form.error.last.name.minlength' | translate}}</div>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{'input.label.repassword' | translate}}</mat-label>
          <input matInput [type]="'password'" name="rePassword" [(ngModel)]="userResetPassword.rePassword"
                 #rePassword="ngModel"
                 required minlength="8">
          <mat-error *ngIf="rePassword.invalid && (rePassword.dirty || rePassword.touched)">
            <div *ngIf="rePassword.errors.required">{{'form.error.required' | translate}}</div>
            <div *ngIf="rePassword.errors.minlength">{{'form.error.last.name.minlength' | translate}}</div>
          </mat-error>
        </mat-form-field>
      </div>
      <mat-error class="password-same-error" *ngIf="password.valid && rePassword.valid && (rePassword.dirty || rePassword.touched)">
        <div *ngIf="passwords.errors?.passwordCheck">{{'form.error.password.not.match' | translate}}</div>
      </mat-error>

      <button mat-raised-button color="primary" form="registerForm" [disabled]="!registerForm.valid"
              (click)="onSubmit()">
        {{'reset.password.page.reset.button' | translate}}
      </button>
    </form>
  </mat-card-content>
</mat-card>

