<mat-card>
  <mat-card-content>
    <form #addWorkplaceForm="ngForm" id="addWorkplaceForm">
      <h2>{{'edit.workplace.page.header' | translate}}</h2>

      <mat-form-field appearance="fill">
        <mat-label>{{'input.label.workplace.name' | translate}}</mat-label>
        <input matInput name="name" [(ngModel)]="editWorkplace.name" #name="ngModel"
               required maxlength="20">
        <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
          <div *ngIf="name.errors.required">{{'form.error.required' | translate}}</div>
        </mat-error>
      </mat-form-field>

      <div class="localization-input-container">
        <mat-form-field appearance="fill">
          <mat-label>{{'input.label.workplace.city' | translate}}</mat-label>
          <input matInput plac  eholder="Warszawa" name="city" [(ngModel)]="editWorkplace.city" #city="ngModel"
                 required maxlength="20">
          <mat-error *ngIf="city.invalid && (city.dirty || city.touched)">
            <div *ngIf="city.errors.required">{{'form.error.required' | translate}}</div>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{'input.label.workplace.street' | translate}}</mat-label>
          <input matInput placeholder="Stefana Żeromskiego 116" name="lastName" [(ngModel)]="editWorkplace.street" #street="ngModel"
                 required maxlength="30">
          <mat-error *ngIf="street.invalid && (street.dirty || street.touched)">
            <div *ngIf="street.errors.required">{{'form.error.required' | translate}}</div>
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>{{'input.label.workplace.description' | translate}}</mat-label>
        <textarea matInput
                  [(ngModel)]="editWorkplace.description"
                  name="description"
                  #description="ngModel"
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="3"
                  maxlength="256"
                  required></textarea>
        <mat-error *ngIf="description.invalid && (description.dirty || description.touched)">
          <div *ngIf="description.errors.required">{{'form.error.required' | translate}}</div>
        </mat-error>
      </mat-form-field>

      <button mat-button (click)="backClicked()">{{"page.button.cancel" | translate}}</button>
      <button mat-raised-button color="primary" form="addWorkplaceForm" [disabled]="!addWorkplaceForm.valid"
              (click)="onSubmit()">
        {{"page.button.edit" | translate}}
      </button>
    </form>
  </mat-card-content>
</mat-card>
