mat-card {
  max-width: 400px;
  margin: 8em auto;
  text-align: center;
}

mat-form-field{
  display: block;
  margin-bottom: 1em;
}

.personal-data-input-container {
  display: flex;
  justify-content: space-between;
}

.personal-data-input-container mat-form-field {
  width: 49%;
}
.password-same-error{
  margin: -2em 0 2em 0;
  font-size: 75%;
}





