<mat-card>
  <mat-card-content>
    <form #registerForm="ngForm" id="registerForm">
      <h2>Forgot password?</h2>

      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" name="email" [(ngModel)]="email" #emailModel="ngModel"
               required email>
        <mat-error *ngIf="emailModel.invalid && (emailModel.dirty || emailModel.touched)">
          <div *ngIf="emailModel.errors.required">Field is required</div>
          <div *ngIf="emailModel.errors.email">Format emaila nie poprawny</div>
        </mat-error>
      </mat-form-field>

      <button mat-button (click)="backClicked()">No Thanks</button>
      <button mat-raised-button color="primary" form="registerForm" [disabled]="!registerForm.valid"
              (click)="onSubmit()">
        Send
      </button>
    </form>
  </mat-card-content>
</mat-card>

