<mat-card>
  <mat-card-content>
    <form #registerForm="ngForm" id="registerForm">
      <h2>{{'forgot.password.page.header' | translate}}</h2>

      <mat-form-field appearance="fill">
        <mat-label>{{'input.label.email'| translate}}</mat-label>
        <input matInput placeholder="pat@example.com" name="email" [(ngModel)]="email" #emailModel="ngModel"
               required email>
        <mat-error *ngIf="emailModel.invalid && (emailModel.dirty || emailModel.touched)">
          <div *ngIf="emailModel.errors.required">{{'form.error.required' | translate}}</div>
          <div *ngIf="emailModel.errors.email">{{'form.error.email' | translate}}</div>
        </mat-error>
      </mat-form-field>

      <button mat-button (click)="backClicked()">{{'page.button.cancel' | translate}}</button>
      <button mat-raised-button color="primary" form="registerForm" [disabled]="!registerForm.valid"
              (click)="onSubmit()">
        {{'forgot.password.page.send.button' | translate}}
      </button>
    </form>
  </mat-card-content>
</mat-card>

