<mat-card>
  <mat-card-content>
    <form [formGroup]="loginForm">
      <h2>Log in</h2>

      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email" required>
        <mat-error *ngIf="loginForm.controls.email.invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.controls.password.invalid">{{getPasswordErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-error class="api-error" *ngIf="loginApiError">{{"Błędny login lub hasło"}}</mat-error>

      <div class="buttons-container">
        <button mat-raised-button color="primary" (click)="onSubmit()">Login</button>
        <a class="register-link" mat-button [routerLink]="'/register'">
          <span>Create your Account</span>
          <span class="material-icons">arrow_forward</span>
        </a>
      </div>

    </form>
  </mat-card-content>
</mat-card>
