<mat-card>
  <mat-card-content>
      <h2>Edit user</h2>

      <div class="personal-data-input-container">
        <mat-form-field appearance="fill">
          <mat-label>First name</mat-label>
          <input matInput [(ngModel)]="user.name" #name="ngModel" required>
          <mat-error [hidden]="name.valid">Field is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Last name</mat-label>
          <input matInput [(ngModel)]="user.lastName" #lastName="ngModel" required>
          <mat-error [hidden]="lastName.valid">Field is required</mat-error>
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Telephone</mat-label>
        <input matInput placeholder="111 222 333" [(ngModel)]="user.phoneNumber" #phoneNumber="ngModel" required>
        <mat-error [hidden]="phoneNumber.valid">Field is required</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary">Edit</button>
  </mat-card-content>
</mat-card>
