<mat-card>
  <mat-card-content>
    <h2>Edit user</h2>

    <div class="row-container">
      <mat-form-field appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput [(ngModel)]="user.name" #name="ngModel" required>
        <mat-error [hidden]="name.valid">Field is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Last name</mat-label>
        <input matInput [(ngModel)]="user.lastName" #lastName="ngModel" required>
        <mat-error [hidden]="lastName.valid">Field is required</mat-error>
      </mat-form-field>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Telephone</mat-label>
      <input matInput placeholder="111 222 333" [(ngModel)]="user.phoneNumber" #phoneNumber="ngModel" required>
      <mat-error [hidden]="phoneNumber.valid">Field is required</mat-error>
    </mat-form-field>

    <button mat-raised-button class="button-margin" color="primary" (click)="editUser()">Edit data</button>

    <mat-form-field appearance="fill">
      <mat-label>Roles</mat-label>
      <mat-select [formControl]="userRolesForm" multiple>
        <mat-option *ngFor="let role of roles" [value]="role.name.substring(5)">{{role.name.substring(5)}}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button class="button-margin" color="primary" (click)="changeRoles()">Edit roles</button>

    <div class="row-container button-margin">
      <mat-slide-toggle (change)="changeAvailability()" [(ngModel)]="user.enabled">Enable</mat-slide-toggle>
      <button mat-raised-button (click)="openDialog()" color="accent">Edit password</button>
    </div>

    <button mat-raised-button color="primary" (click)="backClicked()">Cancel</button>


  </mat-card-content>
</mat-card>
