mat-card {
  max-width: 400px;
  margin: 8em auto;
  text-align: center;
}

mat-form-field{
  display: block;
  margin-bottom: 1em;
}

.row-container {
  display: flex;
  justify-content: space-between;
}

.row-container mat-form-field {
  width: 49%;
}

.user-enable-role-container{
  margin-top: 2em;
}

.user-enable-role-container mat-slide-toggle{
  margin-top: 1em;
}





