mat-card {
  max-width: 400px;
  margin: 6em auto;
  text-align: center;
}

mat-form-field{
  display: block;
  margin-bottom: 1em;
}

.row-container {
  display: flex;
  justify-content: space-around;
}

.row-container mat-form-field {
  width: 49%;
}
.button-margin{
  margin-bottom: 2em;
}






