<h1 mat-dialog-title>Edit password</h1>
<div mat-dialog-content>

  <form #registerForm="ngForm" id="registerForm">

    <div ngModelGroup="passwords" #passwords="ngModelGroup" appCheckPassword>
      <mat-form-field appearance="fill">
        <mat-label>Enter your new password</mat-label>
        <input matInput [type]="'password'" name="password" [(ngModel)]="userPasswordEdit.password" #password="ngModel"
               required minlength="8">
        <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
          <div *ngIf="password.errors.required">Field is required</div>
          <div *ngIf="password.errors.minlength">Password must be at least 8 characters long.</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Repeat your new password</mat-label>
        <input matInput [type]="'password'" name="rePassword" [(ngModel)]="userPasswordEdit.rePassword"
               #rePassword="ngModel"
               required minlength="8">
        <mat-error *ngIf="rePassword.invalid && (rePassword.dirty || rePassword.touched)">
          <div *ngIf="rePassword.errors.required">Field is required</div>
          <div *ngIf="rePassword.errors.minlength">Password must be at least 8 characters long.</div>
        </mat-error>
      </mat-form-field>
    </div>
    <mat-error class="password-same-error" *ngIf="password.valid && rePassword.valid && (rePassword.dirty || rePassword.touched)">
      <div *ngIf="passwords.errors?.passwordCheck">Passwords do not match.</div>
    </mat-error>

    <div class="buttons-container">
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-raised-button color="primary" (click)="changePassword()">Change</button>
    </div>
  </form>

</div>
