<h1 mat-dialog-title>Edit password</h1>
<div mat-dialog-content>

  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="'password'" [(ngModel)]="userPasswordEdit.password" #password="ngModel" required>
    <mat-error [hidden]="password.valid">Field is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Repeat your password</mat-label>
    <input matInput [type]="'password'" [(ngModel)]="userPasswordEdit.rePassword" #rePassword="ngModel" required>
    <mat-error [hidden]="rePassword.valid">Field is required</mat-error>
  </mat-form-field>

</div>
<div class="buttons-container" mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-raised-button color="primary" (click)="changePassword()">Change</button>
</div>
