<h1 mat-dialog-title>{{'edit.user.password.page.header' | translate}}</h1>
<div mat-dialog-content>

  <form #registerForm="ngForm" id="registerForm">

    <div ngModelGroup="passwords" #passwords="ngModelGroup" appCheckPassword>
      <mat-form-field appearance="fill">
        <mat-label>{{'input.label.newPassword' | translate}}</mat-label>
        <input matInput [type]="'password'" name="password" [(ngModel)]="userPasswordEdit.password" #password="ngModel"
               required minlength="8">
        <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
          <div *ngIf="password.errors.required">{{'form.error.required' | translate}}</div>
          <div *ngIf="password.errors.minlength">{{'form.error.password.length' | translate}}</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{'input.label.reNewPassword' | translate}}</mat-label>
        <input matInput [type]="'password'" name="rePassword" [(ngModel)]="userPasswordEdit.rePassword"
               #rePassword="ngModel"
               required minlength="8">
        <mat-error *ngIf="rePassword.invalid && (rePassword.dirty || rePassword.touched)">
          <div *ngIf="rePassword.errors.required">{{'form.error.required' | translate}}</div>
          <div *ngIf="rePassword.errors.minlength">{{'form.error.password.length' | translate}}</div>
        </mat-error>
      </mat-form-field>
    </div>
    <mat-error class="password-same-error" *ngIf="password.valid && rePassword.valid && (rePassword.dirty || rePassword.touched)">
      <div *ngIf="passwords.errors?.passwordCheck">{{'form.error.password.not.match' | translate}}</div>
    </mat-error>

    <div class="buttons-container">
    <button mat-button (click)="onNoClick()">{{"page.button.cancel" | translate}}</button>
    <button mat-raised-button color="primary" (click)="changePassword()">{{"page.button.change" | translate}}</button>
    </div>
  </form>

</div>
