.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-sidenav{
  min-width: 200px;
  height: 93%;
}

.tool-bar-button{
  margin-left: auto;
}

mat-sidenav-container{
  height: 100%;
}
.copy-rights-span{
  font-size: 0.8rem;
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 10px;
}
