<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>SCManagement</h1>
    <div class="tool-bar-button">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openDialog()" [disabled]="roleService.loggedUserRoles.length<=1">
          <mat-icon>accessibility_new</mat-icon>
          <span>Change role</span>
        </button>
        <button mat-menu-item>
          <mat-icon>vpn_key</mat-icon>
          <span>Change password</span>
        </button>
        <button [routerLink]="'edit-own-data'" mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Change data</span>
        </button>
        <button mat-menu-item (click)="doLogout()" >
          <mat-icon>power_settings_new</mat-icon>
          <span>Log out</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <button mat-menu-item *appIfRole="'ROLE_ADMIN'" [routerLink]="'users'" (click)="sidenav.toggle()" >
        <mat-icon>perm_identity</mat-icon>
        <span>Users</span>
      </button>
      <a mat-list-item (click)="sidenav.toggle()" href="">Close</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
