<div class="container">
  <div>
    <mat-card class="name">
      <mat-card-content class="name-container">
        <span class="header">{{workplace.name}}</span>
        <ngb-rating [max]="5" [(rate)]="workplace.averageRate" [readonly]="true">
          <ng-template let-fill="fill">
              <span class="star" [class.full]="fill === 100">
                 <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
              </span>
          </ng-template>
        </ngb-rating>
        <span class="rate-span">{{workplace.averageRate}} out of 5</span>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="container-row">
    <div class="description-container">
      <mat-card class="description">
        <mat-card-content>
          <h1>Description</h1>
          <span>{{workplace.description}}</span>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="container-column">
      <mat-card class="details">
        <mat-card-content>
          <h1>Contact</h1>
          <span>{{workplace.employerData}} Phone: {{workplace.employerPhone}}</span>
        </mat-card-content>
      </mat-card>
      <mat-card class="address">
        <mat-card-content>
          <h1>Address</h1>
          <span>{{workplace.city}}, {{workplace.street}}</span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="table-container">
    <table mat-table [dataSource]="jobs" class="mat-elevation-z8">

      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef> Start date</th>
        <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
      </ng-container>

      <ng-container matColumnDef="completionDate">
        <th mat-header-cell *matHeaderCellDef> Completion date</th>
        <td mat-cell *matCellDef="let element"> {{element.completionDate}} </td>
      </ng-container>

      <ng-container matColumnDef="wage">
        <th mat-header-cell *matHeaderCellDef> Wage</th>
        <td mat-cell *matCellDef="let element"> {{element.wage}} </td>
      </ng-container>

      <ng-container matColumnDef="vacancy">
        <th mat-header-cell *matHeaderCellDef> Vacancy</th>
        <td mat-cell *matCellDef="let element"> {{element.vacancy}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="accent" >Sign Up</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

