mat-form-field{
  width: 100%;
  margin-bottom: 2em;
  font-size: 0.9rem;
}
.buttons-container{
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5em;
}

.star {
  color: #FFC107;
  font-size: 1.4rem;
}

.rate-span {
  margin-left: 1em;
  font-weight: bold;
}





