<mat-card>
  <mat-card-content>
    <form #addWorkplaceForm="ngForm" id="addWorkplaceForm">
      <h2>{{"job.add.page.header" | translate}}</h2>

      <mat-form-field appearance="fill">
        <mat-label>{{"job.add.page.start.date" | translate}}</mat-label>
        <input readonly matInput name="start-date" [ngxMatDatetimePicker]="startPicker"
               placeholder="Data of start" [(ngModel)]="startMoment"
               #startDate="ngModel"  required [min]="minDate" [max]="completionMoment" >
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #startPicker></ngx-mat-datetime-picker>
        <mat-error *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)">
          <div *ngIf="startDate.errors.required">{{'form.error.required' | translate}}</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{"job.add.page.finish.date" | translate}}</mat-label>
        <input matInput name="completion-date" [ngxMatDatetimePicker]="endPicker"
               placeholder="Date of completion" [min]="startMoment ? startMoment : minDate"
               [(ngModel)]="completionMoment" #endDate="ngModel" readonly required>
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #endPicker></ngx-mat-datetime-picker>
        <mat-error *ngIf="endDate.invalid && (endDate.dirty || endDate.touched)">
          <div *ngIf="endDate.errors.required">{{'form.error.required' | translate}}</div>
        </mat-error>
      </mat-form-field>

      <div class="localization-input-container">
        <mat-form-field appearance="fill">
          <mat-label>{{"job.add.page.wage" | translate}}</mat-label>
          <input type="number" matInput name="wage" [(ngModel)]="createJob.wage" #wage="ngModel"
                 required appCustomMin=1>
          <mat-error *ngIf="wage.invalid && (wage.dirty || wage.touched)">
            <div *ngIf="wage.errors.required">{{'form.error.required' | translate}}</div>
            <div *ngIf="wage.errors.appCustomMin">{{'form.error.wage.min' | translate}}</div>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{"job.add.page.vacancies" | translate}}</mat-label>
          <input type="number" matInput name="vacancies" [(ngModel)]="createJob.vacancy" #vacancy="ngModel"
                 required appCustomMin=1>
          <mat-error *ngIf="vacancy.invalid && (vacancy.dirty || vacancy.touched)">
            <div *ngIf="vacancy.errors.required">{{'form.error.required' | translate}}</div>
            <div *ngIf="vacancy.errors.appCustomMin">{{'form.error.wage.min' | translate}}</div>
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>{{"job.add.page.description" | translate}}</mat-label>
        <textarea matInput
                  [(ngModel)]="createJob.description"
                  name="description"
                  #description="ngModel"
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="3"
                  maxlength="256"
                  required></textarea>
        <mat-error *ngIf="description.invalid && (description.dirty || description.touched)">
          <div *ngIf="description.errors.required">{{'form.error.required' | translate}}</div>
        </mat-error>
      </mat-form-field>

      <button mat-button (click)="backClicked()">{{"page.button.cancel" | translate}}</button>
      <button mat-raised-button color="primary" form="addWorkplaceForm" [disabled]="!addWorkplaceForm.valid"
              (click)="onSubmit()">
        {{"page.button.add" | translate}}
      </button>
    </form>
  </mat-card-content>
</mat-card>
