<mat-card *ngFor="let contract of contracts">
  <mat-card-content>
    <div class="job-info-container">
      <a class="link-to-workplace" (click)="goToWorkplaceDetails(contract.job.workplace.id)">
        <div>
          <span class="job-header">{{contract.job.workplace.name}}</span>
        </div>
      </a>
      <span class="address">{{contract.job.workplace.city}}, {{contract.job.workplace.street}}</span>
      <span class="date">{{"my.jobs.start.date" | translate}}: {{contract.job.startDate | date: 'dd-MM-yyyy HH:mm'}}</span>
      <span class="date">{{"my.jobs.finish.date" | translate}}: {{contract.job.completionDate | date: 'dd-MM-yyyy HH:mm'}}</span>
      <span class="description">{{contract.job.description}}</span>
    </div>
    <div class="wage-container">
      <span class="wage">{{contract.job.wage}} {{"my.jobs.page.currency" | translate}}</span>
      <span class="vacancy">{{"my.jobs.page.status" | translate}}: {{contract.status}}</span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent"
            *ngIf="contract.status==='Claimed'"
            (click)="checkIn(contract.id, contract.version)">
      {{"my.jobs.page.button.check.in" | translate}}
    </button>
    <button mat-raised-button color="accent" (click)="resign(contract.id)">{{"my.jobs.page.button.resign" | translate}}</button>
  </mat-card-actions>
</mat-card>
