mat-card {
  margin: 1em auto;
  width: 90%;
  align-self: center;
}

mat-card:last-child {
  margin-bottom: 5em !important;
}
mat-card-actions {
  text-align: end;
}

mat-card-content {
  display: flex;
}

.job-info-container {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.wage-container {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.wage {
  font-size: 2rem;
  color: #790604;
  font-weight: bold;
}

.vacancy {
  font-weight: bold
}

.job-header {
  font-size: 2rem;
  font-weight: bold;
}

.address {
  font-size: 1.2rem;
  margin-bottom: 1em;
}

.date {
  font-size: 1.2rem;
  font-weight: bold;
}

.description {
  margin-top: 1em;
  font-size: 1.1rem;
}

.link-to-workplace {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.filter-container{
  width: 90%;
  align-self: center;
  margin: 1em auto;
}

.filter{
  margin-bottom: -1em;
}
