<mat-card *ngFor="let job of jobs">
  <mat-card-content>
    <div class="job-info-container">
      <a class="link-to-workplace" (click)="goToWorkplaceDetails(job.workplace.id)">
        <div>
          <span class="job-header">{{job.workplace.name}}</span>
        </div>
      </a>
      <span class="address">{{job.workplace.city}}, {{job.workplace.street}}</span>
      <span class="date">Start date: {{job.startDate | date: 'dd-MM-yyyy HH:mm'}}</span>
      <span class="date">Finish date: {{job.completionDate | date: 'dd-MM-yyyy HH:mm'}}</span>
      <span class="description">{{job.description}}</span>
    </div>
    <div class="wage-container">
      <span class="wage">{{job.wage}} Zl</span>
      <span class="vacancy">Vacancy: {{job.vacancy}}</span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button *appIfRole="['ROLE_EMPLOYEE']" mat-raised-button color="accent" (click)="signUpToJob(job.id)">Sign up</button>
  </mat-card-actions>
</mat-card>
