<mat-card>
  <mat-card-content>
    <form #registerForm="ngForm" id="registerForm">

      <mat-form-field appearance="fill">
        <mat-label>Enter your current password</mat-label>
        <input matInput [type]="'password'" name="password" [(ngModel)]="userOwnPasswordEdit.previousPassword" #previousPassword="ngModel"
               required minlength="8">
        <mat-error *ngIf="previousPassword.invalid && (previousPassword.dirty || previousPassword.touched)">
          <div *ngIf="previousPassword.errors.required">Field is required</div>
          <div *ngIf="previousPassword.errors.minlength">Password must be at least 8 characters long.</div>
        </mat-error>
      </mat-form-field>

      <div ngModelGroup="passwords" #passwords="ngModelGroup" appCheckPassword>
        <mat-form-field appearance="fill">
          <mat-label>Enter your new password</mat-label>
          <input matInput [type]="'password'" name="password" [(ngModel)]="userOwnPasswordEdit.password" #password="ngModel"
                 required minlength="8">
          <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
            <div *ngIf="password.errors.required">Field is required</div>
            <div *ngIf="password.errors.minlength">Password must be at least 8 characters long.</div>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Repeat your new password</mat-label>
          <input matInput [type]="'password'" name="rePassword" [(ngModel)]="userOwnPasswordEdit.rePassword"
                 #rePassword="ngModel"
                 required minlength="8">
          <mat-error *ngIf="rePassword.invalid && (rePassword.dirty || rePassword.touched)">
            <div *ngIf="rePassword.errors.required">Field is required</div>
            <div *ngIf="rePassword.errors.minlength">Password must be at least 8 characters long.</div>
          </mat-error>
        </mat-form-field>
      </div>
      <mat-error class="password-same-error" *ngIf="password.valid && rePassword.valid && (rePassword.dirty || rePassword.touched)">
        <div *ngIf="passwords.errors?.passwordCheck">Passwords do not match.</div>
      </mat-error>

      <button mat-button (click)="backClicked()">No Thanks</button>
      <button mat-raised-button color="primary" form="registerForm" [disabled]="!registerForm.valid"
              (click)="onSubmit()">
        Change password
      </button>
    </form>
  </mat-card-content>
</mat-card>
