<div class="content" fxLayout="row wrap" fxLayoutGap="24px grid">
  <div fxFlex="33%" fxFlex.sm="50%" fxFlex.xs="100%" *ngFor="let workplace of workplaces">
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <div fxLayout="column">
        <mat-card-title>{{workplace.name}}</mat-card-title>
        <span>{{workplace.city}}, {{workplace.street}}</span>
        </div>
      </mat-card-header>
      <img mat-card-image src="assets/workplace.png">
      <mat-card-content>
        <p class="description">
          {{workplace.description}}
        </p>
        <div fxLayout="column">
          <span class="rate-header-span">{{'list.workplace.page.employees.review' | translate}}</span>
          <div>
            <ngb-rating [max]="maxRate" [(rate)]="workplace.averageRate" [readonly]="true">
              <ng-template let-fill="fill">
              <span class="star" [class.full]="fill === 100">
                 <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
              </span>
              </ng-template>
            </ngb-rating>
            <span class="rate-span">{{workplace.averageRate}} {{'list.workplace.page.rate.out.of' | translate}} {{maxRate}}</span>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="goToDetails(workplace.id)">{{'page.button.details' | translate}}</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
